version: "{{ docker_compose_version }}"

services:
  {{ app_name }}:
    image: "{{ docker_image }}:{{ docker_tag }}"
    container_name: "{{ app_name }}"
    ports:
      - "{{ app_port }}:{{ app_internal_port }}"
{% if web_app_env is defined and web_app_env | length > 0 %}
    environment:
{% for k, v in web_app_env.items() %}
      {{ k }}: "{{ v }}"
{% endfor %}
{% endif %}
    restart: unless-stopped